.selectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 5px;
}
.selectBox .optionsContainer {
  background-color: #0d141fb3;
  color: #f5f6fa;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  max-height: 0;
}
.selectBox .optionsContainerActive {
  background-color: #0d141fb3;
  color: #f5f6fa;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  max-height: 200px;
  opacity: 1;
  overflow-y: auto;
  margin-top: 5px;
  width: 100%;
}
.selected {
  background: #0d141fb3;
  border-radius: 8px;
  color: #f5f6f8;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin-top: 10px;
  min-width: 130px;
}

.comboBoxArrowExpanded {
  transform: rotateX(-179deg);
  top: -8px;
}

.comboValue {
  padding-right: 20px;
}

.selectBox .optionsContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #0d141fb3;
  border-radius: 0 8px 8px 0;
}
.selectBox .optionsContainerActive::-webkit-scrollbar {
  width: 8px;
  background-color: #0d141fb3;
  border-radius: 0 8px 8px 0;
}
.selectBox .optionsContainer::-webkit-scrollbar-thumb {
  background-color: #525861;
  border-radius: 0 8px 8px 0;
}
.selectBox .optionsContainerActive::-webkit-scrollbar-thumb {
  background-color: #525861;
  border-radius: 0 8px 8px 0;
}
.selectBox .option,
.selected {
  padding: 8px 20px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
}
.selectBox .option {
  min-width: 130px;
  width: auto;
}
.selectBox .option:hover {
  background: #414b57;
}
.selectBox .first {
  cursor: pointer;
}
.selectBox .option .radio {
  display: none;
}
input[type="radio"] {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 16px;
  width: 16px;
  margin: -1px;
  padding: 0;
  border: 0;
}
