.gameMain {
  text-align: center;
}

h1 {
  font-family: "Inter";
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.gameContainer {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  width: 230px;
  height: 230px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: auto;
}

.squareBlock {
  width: 80px;
  height: 80px;
  font-size: 40px;
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
}

.resetButton {
  padding: 12px 40px;
  width: 211px;
  height: 53px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  background: #00b96c;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
}

.showPlayerTurn {
  font-weight: 600;
  font-family: "Inter";
  font-size: 25px;
  font-style: italic;
}

.gameWinner {
  background-color: #00b96c;
  width: 430px;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  font-family: "Inter";
  font-size: 25px;
}
