.Header {
  padding: 10px;
  border-bottom: 1px solid #e7e2e2;
  display: flex;
  justify-content: space-evenly;
}

.Header a {
  color: #000;
}

@media (max-width: 850px) {
  h2 {
    margin-left: 30px;
  }
}
